#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "board blocks"
    /* "valueField spare"; */
    "spare-1 spare-2";
}

table, table th, table td {
  margin: 10px;
  text-align: center;
  border-collapse: collapse;
  column-width: 25px;
  min-width: 25px;
  line-height: 25px;
}
td {
  border: 1px solid rgba(0, 0, 0, 0.267);
}
#board {
  float: left;
  margin-right: 100px;
  grid-area: board;
}
/* #valueField {
  grid-area: valueField;
} */
#blocks {
  float: left;
  grid-area: blocks;
}

.none {
  background-color: rgb(185, 185, 185);
}
.a {
  background-color: rgba(0, 0, 255, 0.625);
}
.b {
  background-color: rgba(255, 0, 0, 0.65);
}
.c {
  background-color: rgb(0, 220, 0, 0.625);
}
.d {
  background-color: rgb(255, 255, 0, 0.75);
}
input {
  width: 60%;
}
.inputs > tr td {
  border: 0px;
  margin: 10px;
}