@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --NONE: #b9b9b9;
    --BLUE: rgba(0, 0, 255, 0.625);
    --RED: rgba(255, 0, 0, 0.65);
    --GREEN: rgb(0, 220, 0, 0.625);
    --YELLOW: rgb(255, 255, 0, 0.75);
    --BACKGROUND: #444;
}

html,
body {
    width: 100%;
    height: 100dvh;
    white-space: nowrap;
    min-width: 1200px;
    position: relative;
    background: light-dark(#fff, var(--BACKGROUND));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'Noto Sans';
    word-wrap: break-word;
}

.column-layout {
    display: flex;
    flex-direction: column;
}

.row-layout {
    display: flex;
    flex-direction: row;
}